*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar{
    z-index: 2;
    height: 100vh;
    background-color: #363636;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.8);
}

.logo-container{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    font-weight: 600;
}

.user-container{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 90%;
    margin: 0 auto;
    color: white;
    font-size: 16px;
}

.user-image{
    height: 35px;
    width: 35px;
    border-radius: 1000px;
    overflow:hidden;
}

.user-image img{
    height: 100%;
    width: 100%;
}

.sidebar-items{
    padding-top:15px;
    margin: 0 auto;
    width: 90%;
}

.sidebar-items ul{
    list-style: none;
}

.sidebar-items ul li{
    width: 100%;
    display: flex;
}

.sidebar-items ul li a{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

.sidebar-items ul li a:hover{
    background: #525252;
    text-decoration: none;
}

.content{
    z-index: 1;
    height: 100vh;
    background: #f5f5f5;
    padding-bottom: 10vh;
    overflow-y: auto;
}

.navbar-container{
    height: 10vh;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    background: #ffffff;
}

.nav-items{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.nav-items input{
    padding: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}

.nav-items input:hover{
    outline: none;
}

.content-container{
    margin: 0 auto;
    width: 95%;
}

.content-title{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-title span{
    font-size: 27px;
}

.content-text{
    letter-spacing: 1px;
}

.content-form-container{
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background: white;;
}

.form-title{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #16b2f5;
    color: white;
}

.form-input{
    padding: 15px 20px; 
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.form-input input, .form-input textarea, .form-input select {
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    resize: none;
}

.form-input select:focus, .form-input input:focus, .form-input textarea:focus {
    outline: none;
}

.form-button{
    padding: 15px 20px; 
}

.form-button button{
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #16b2f5;
    color: white;
}

.create-button{
    padding: 15px 0px; 
}

.create-button a{
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #16b2f5;
    color: white;
}

.create-button a:hover{
    text-decoration: none;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header input{
    padding: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}

.card-header input:hover{
    outline: none;
}

.minimize-btn{
    font-size: 25px;
        border: none;
        background:transparent;
}
