<template>
    <div class="container">
        <button onclick="minimize()"><i class="fas fa-bars"></i></button>
    </div>
</template>

<script>
    export default {
        mounted() {

            function minimize(){
                console.log('Component mounted.')
            }
        }
    }
</script>

<style>
    button{
        font-size: 25px;
        border: none;
        background:transparent;
    }
</style>